{% extends "ABM.twig" %}

{% block content %}

    <section class="principal">
        <p class="error"> {{ data.mensaje.exito }} </p>
            <input class="enviar" type="button" onclick="location.href='{{ path }}/index.php/?action=MenuBuffet&request=vistaCrear&fecha=hoy';" value="Elegír el menú del día" />
            <input class="enviar" type="button" onclick="location.href='{{ path }}/index.php/?action=MenuBuffet&request=vistaCrear&fecha=mañana';" value="Elegír el menú de mañana" />
    </section>

{% endblock %}