label {
    display: block;
    margin-top: 1em;
}

input[type=text],
input[type=number],
input[type=password],
input[type=email],
select {
    width: 16em;
    padding: 6px 7px;
    margin: 9px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}

div#envelope{
width: 55%;
margin: 10px 30% 10px 25%;
padding:10px 0;
border: 2px solid gray;
border-radius:10px;
background: #C6FFDC;
}

.enviar,
.cancelar {
    display: inline-block;
    width: 18em;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1em;
}

.cancelar {
    background-color: #000000;
    margin-top: 1em;
}

.enviar:hover {
    background-color: green;
}

.cancelar:hover {
    background-color: #A10000;
}
.borde {
    border: 2px solid #dadada;
    border-radius: 7px;
}

.borde:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.error{
    color:red;
    font-size: 12px;
}