.principal {
    background-color: #FFA5A5;
    width:40%;
 }

h2 {
    font-size: 1.5em;
    padding: 0.5em;
}

p {
    padding: 0.5em;
}

.form {
    position: relative;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 0.5em;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1em;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: blue;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

p a {
    color: blue;
}

.error{
    color: red;
    font-size: 12px;
}

@media screen and (max-width: 800px) and (min-width: 50px) {

 .principal {
    width: 95%;
    }
}