	<h3>Sistema UNLP-Powered by Grupo46</h3>
	<a href="https://jigsaw.w3.org/css-validator/check/referer">
		<img class="validator" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="¡CSS Válido!" />
		<br>
		<p>Validado por W3C</p>
	</a>
